.overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  transition: opacity 1s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pulse-svg {
  width: 100px;
  height: 100px;
}
