<main class="flex login-background flex-wrap">
  <aside class="lg:col-6 col-12 flex flex-column justify-content-center align-items-center p-6">
    <h1 class="login-titulo">{{ _Mensajes.MSJ_TITULO_CONVOCATORIA }}</h1>
    <h2 class="login-subtitulo">{{ _Mensajes.MSJ_SUBTITULO_CONVOCATORIA }}</h2>
  </aside>
  <section
    class="lg:col-6 col-12 flex justify-content-center align-items-center vertical-align:middle align-items:center lg:mb-0  mb-6">

    <p-card class="top-rounded-card width-lg">

      <div class="flex">
        <div class="flex justify-content-start align-items-center col-1 mt-4">
          <btn-regresar [ruta]="'/publico/inicio-sesion'"/>
        </div>
        <div class="flex justify-content-center px-3 col-11">
          <h2 class="login-card-titulo">Crear Cuenta</h2>
        </div>
      </div>

      <div class="px-0">
        <hr class=" border-1 text-gray-100">
      </div>

      <form [formGroup]="form" (ngSubmit)="btnAceptar()">
        <article class="flex flex-column">
          <div class="flex flex-row">

            <label class="field-label" for="perfil">Tipo de perfil</label>
          </div>
          <div class="flex flex-row">
            <p-select id="perfil" formControlName="perfil" [options]="lstPerfil" optionLabel="nomPerfil"
                      optionValue="idPerfil" placeholder="Selecciona un perfil" class="w-full"
                      (ngModelChange)="cambiaPerfil()">
            </p-select>
          </div>

          @if (!blnResidente) {
            <div class="flex flex-column" style="margin-top: 25px; margin-bottom: 15px;">
              <div class="flex flex-row">
                <label class="field-label" for="modalidad">Modalidad del médico</label>
              </div>
              <div class="flex flex-row">
                <p-select id="modalidad" formControlName="modalidad" [options]="lstModalidad" optionLabel="nomSubperfil"
                          optionValue="idSubperfil" placeholder="Selecciona una modalidad" class="w-full"
                          (ngModelChange)="cambiaModalidad()">
                  <ng-template let-modalidad pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div style="white-space: normal;">{{ modalidad.nomSubperfil }}</div>
                    </div>
                  </ng-template>
                </p-select>
              </div>
            </div>
            <div class="flex flex-column">
              <div class="flex flex-row">
                <label class="field-label" for="documento">Selecciona un documento de verificación</label>
              </div>
              <div class="flex flex-row">
                <div class="flex flex-wrap gap-4">

                  <div class="flex items-center">
                    @for (documento of lstDocumentos; track documento.idDocumentoVerificacion) {
                      <p-radiobutton id="documento" formControlName="documento" name="documento"
                                     value="{{documento.desDocumentoVerificacion}}" inputId="documento"
                                     [(ngModel)]="registroMedico.desDocumentoVerificacion"></p-radiobutton>
                      <label for="documento" class="rblabel  rb">{{ documento.desDocumentoVerificacion }}</label>
                    }
                  </div>
                </div>
              </div>
            </div>
          }

          <div class="flex flex-row justify-content-end" style="margin-top: 40px;">
            <p-button type="submit" label="Aceptar" [disabled]="!form.valid"/>
          </div>
        </article>
      </form>
    </p-card>
  </section>
</main>
