:root {
  --azul-tono1: #1d5dbb;
  --azul-tono2: #428eff;
  --azul-tono3: #abcdff;
  --azul-tono4: #e9f2ff;
  --azul-tono5: #f6faff;

  --verde-tono1: #00c793;
  --verde-tono2: #f0fffb;

  --naranja-tono1: #ff7714;
  --naranja-tono2: #ff8c4c;
  --naranja-tono3: #ffc59c;

  --marino-tono1: #869fd4;
}
