

.combined-container {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  height: 42px;
}

.combined-select {
  max-width: 180px;     /* ajusta ancho del select */
  border-right: 1px solid #e0e0e0 !important;
  font-size: 0.9rem;
}

.combined-input-group input {
  box-shadow: none !important;
  font-size: 0.9rem;
}

.combined-input-group .input-group-text {
  background: white;
}

.bi-search {
  font-size: 1rem;
  opacity: 0.6;
}

.combined-container {
  width: 100%;
}

.combined-select {
  min-width: 150px;
}

.input-group-text i {
  font-size: 1rem;
}
.p-button.btn-buscar {
  width: 126px;
}

.contenedor-lupa {
  position: relative;

  .icon {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translate(-25%, -50%);
    font-size: 18px;
    color: #adb8cc;
  }
}

.divTotales{
    width: 220px;
height: 168px;
gap: 4px;

opacity: 1;
padding: 8px;
border-radius: 8px;

}
.divgestion{
border-bottom: 1px solid #FF8848;
height: 52px;
display: flex;
    /* Centra los elementos hijos verticalmente */
    align-items: center;

}

.divgestion2{
border-bottom: 1px solid #FDD8C4;

}
.divqueja{
border-bottom: 1px solid #5EC5F4;
height: 52px;
display: flex;
    /* Centra los elementos hijos verticalmente */
    align-items: center;
}
.divqueja2{
border-bottom: 1px solid #CFEEFC;

}
.divinconformidades{
border-bottom: 1px solid #0AA16E;
height: 52px;
display: flex;
    /* Centra los elementos hijos verticalmente */
    align-items: center;
}
.divinconformidades2{
border-bottom: 1px solid #B7FBD3
}
.divamparo{
border-bottom: 1px solid #2F5EFF;
height: 52px;
display: flex;
    /* Centra los elementos hijos verticalmente */
    align-items: center;
}
.divamparo2{
border-bottom: 1px solid #CCD7FF;
}
.divprocedimiento{
border-bottom: 1px solid #B28100;
height: 52px;
display: flex;
    /* Centra los elementos hijos verticalmente */
    align-items: center;

}
.divprocedimiento2{
border-bottom: 1px solid #FFEAB3;

  
}
.divjuicio{
border-bottom: 1px solid #DC0A70;
text-align: left;
height: 52px;

}
.divjuicio2{
border-bottom: 1px solid #FDCEE5

}
.itemtotal{
  margin-bottom: 5px;
}

