.bg-blue-oferta-laboral {
  background: #41ABCA;
}

.detalle-oferta-laboral-sub-titulo {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 14px */
}

.detalle-oferta-laboral-titulo {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
}

.vertical-border {
  color: #FFF;
}



