
.text-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
}

.p-button-image {
  line-height: normal;
}

.text-info-image {
  font-size: 10px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: center;
  color: #667085;
}

::ng-deep .p-fileupload-buttonbar {
  display: none !important;
}

::ng-deep .p-fileupload {
  position: relative;
}

.card-upload-photo {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  gap: 13px
}

.upload-photo {
  display: flex;
  height: 150px;
  width: 170px;
  min-height: 34px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

::ng-deep .p-fileupload-content {
  height: 180px !important;
  width: 200px !important;
  display: grid;
  margin-top: 10px;
}

::ng-deep .p-fileupload-advanced {
  border: none;
}


.btn-upload {
  position: absolute;
  right: 15%;
  top: 2%;
}

.border-imagen {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-photo {
  top: 0;
}

::ng-deep .p-splitbutton-button {
  display: none;
}

::ng-deep .p-tieredmenu-item-link {
  font-size: 14px;
}

.camera-overlay {
  position: fixed; /* Para que esté sobre el contenido */
  top: 35%;
  left: 25%;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté por encima de todo */
  border-radius: 50%; /* Mantinee la forma circular del contenedor principal */
}

.camera-container {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  /* Asegura que el contenedor tenga espacio */
  max-width: 95vw;
  max-height: 95vh;
}

video {
  /* Estilos para el video de la cámara */
  width: 100%;
  height: auto;
  transform: scaleX(-1); /* Opcional: Voltear la imagen si la cámara frontal lo requiere */
}

.camera-video {
  width: 100% !important;
  height: auto !important;
  max-width: 500px !important;
  min-height: 350px !important; /* Altura mínima garantizada */

  /* Borde de depuración final */
  border: 4px solid magenta !important;
  background-color: black !important;

  /* Asegura que el video se muestre correctamente */
  object-fit: cover !important;
}


@media screen and (min-width: 768px) {
  .camera-overlay {
    left: 25%;
  }
}
