<app-card-info [datosPersonales]="detalleAspirante.datosPersonales"
               [evaluacion]="detalleAspirante.participacion.resultadoVerificacion"></app-card-info>
<div class="py-1 px-4 bg-white border-round-xl">
  <p-tabs [value]="tab" class="tab-documentacion" >
    <p-tablist class="flex flex-row">
      <p-tab [value]="0" (click)="tab = 0" class="w-auto">
        <div class="header-tab-documentacion">
          <i class="cme-deals me-3" style="color: #000000; font-size: 1.4rem"></i>
          <p>Documentos obligatorios</p>
        </div>
      </p-tab>
      <p-tab [value]="1" (click)="tab = 1" class="w-auto">
        <div class="header-tab-documentacion">
          <i class="cme-deals me-3" style="color: #000000; font-size: 1.4rem"></i>
          <p>Documentos por especialidad</p>
        </div>
      </p-tab>
      @if (detalleAspirante.datosPersonales.perfil.idPerfil === 3) {
        <p-tab [value]="2" (click)="tab = 2" class="w-auto">
          <div class="header-tab-documentacion">
            <i class="cme-deals me-3" style="color: #000000; font-size: 1.4rem"></i>
            <p> Constancias de cursos</p>
          </div>
        </p-tab>
      }
    </p-tablist>
  </p-tabs>
</div>
<p-card class="mx-2 empty-border" [header]="'Documentos de especialidad'">

  @switch (tab) {
    @case (0) {
      <app-docs-obligatorios [docsObligatorios]="detalleAspirante.documentosObligatorios"/>
    }
    @case (1) {
      <app-docs-especialidad [docsEspecialidad]="detalleAspirante.especialidadesDocumentos"
                             [idUsuario]="detalleAspirante.datosPersonales.idUsuario"
                             [observaciones]="detalleAspirante.refObservaciones"
                             [estatusId]="estatus"
                             (actualizarRegistro)="actualizarInformacionDocumentos()"/>
    }
    @case (2) {
      <app-constancias-cursos [docsConstancias]="detalleAspirante.documentosConstancias"/>
    }
  }

</p-card>
