@layer app-components {


  :host ::ng-deep .p-tablist-tab-list {
    justify-content: space-between !important;
    overflow: scroll;
    overflow-y: hidden;
  }

  :host ::ng-deep .p-tab {
    min-width: 400px;
    display: flex;
    justify-content: center;
  }


  :host ::ng-deep .p-tablist-content {
    max-width: 100%;
  }

  @media (max-width: 768px) {

    :host ::ng-deep .p-tab {
      min-width: fit-content;
      margin-bottom: 10px;
    }

    :host ::ng-deep .p-tablist-active-bar {
      background: #fff;
      width: fit-content !important;
    }

    :host ::ng-deep .p-tablist-nav-button {
      display: none !important;
    }
  }

  @media screen and (min-width: 1100px)  {
    :host ::ng-deep .p-tablist-tab-list {
      overflow: hidden;
    }
  }

}
