/* Forzar el comportamiento sticky incluso si el JS de PrimeNG no ha cargado */
:host ::ng-deep .p-datatable-scrollable .p-frozen-column {
  position: sticky !important;
  right: 0 !important; /* Para la última columna */
  z-index: 10;
  background-color: #fff;
  border-left: 1px solid #e5e7eb; /* Opcional: para separar visualmente */
}

:host ::ng-deep .p-datatable-thead > tr > th:nth-last-child(2)[pFrozenColumn],
:host ::ng-deep .p-datatable-tbody > tr > td:nth-last-child(2)[pFrozenColumn] {
  right: 100px !important; /* Este debe ser el ancho de la última columna */
}

:host ::ng-deep .p-datatable-thead > tr > th:nth-last-child(1)[pFrozenColumn],
:host ::ng-deep .p-datatable-tbody > tr > td:nth-last-child(1)[pFrozenColumn] {
  right: 0 !important; /* Este debe ser el ancho de la última columna */
}


:host ::ng-deep .p-datatable-wrapper {
  overflow-anchor: none; /* Evita saltos de scroll automáticos del navegador */
}
