<alert></alert>
<ngx-spinner [fullScreen]="true" type="ball-spin-clockwise"
                                        size="medium"></ngx-spinner>
<router-outlet/>
<app-footer/>
<svg-animation />

<!-- <p-confirmDialog>
  <ng-template #message let-message let-onAccept="onAccept" let-onReject="onReject">
    <div class="flex flex-column align-items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
      <i [ngClass]="message.icon" class="text-primary-500" [style]="{ 'font-size': '5rem'}"></i>
      <p class="mb-7">{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
 -->
