<div class="my-4"></div>
<p-card class="empty-card" styleClass="shadow-4">
  <div class="flex flex-row">
    <div class="flex col-3 justify-content-center align-items-center">
      <p-avatar shape="circle" [icon]="icono" size="xlarge"
                [style]="{ 'background-color': bg_color, color: '#fff' }"></p-avatar>
    </div>
    <div class="flex col-9 flex-column">
      <p class="kpi-title">{{ encabezado }}</p>
      <p class="kpi-text">{{ descripcion }}</p>
    </div>
  </div>
</p-card>
