.kpi-title {
  color: #000;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.kpi-text {
  color: #000;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
