.seccionA{
    height: 50px;
    background-color: #F4F7FC;
    text-align: start;
    vertical-align: middle;
    padding-top: 10px;
    border-radius: 5px;
    color: black;
    font-weight: 400;
padding-left: 10px;
    margin-bottom: 30px;
}

.aviso{
    font-size: 11px;
}

