<!-- <btn-regresar [ruta]="ruta" [titulo]="titulo"></btn-regresar> -->
<div class="alinear" >
    <img src="/assets/logos/back.svg" (click)="regresar()" />
    <img src="/assets/logos/line.svg" />
    <span class="tituloantecedentes">Antecedentes</span>
</div>
<div class="seccionA">
    Resultado de la búsqueda por NSS: 123456789000
</div>



<div ngbAccordion *ngIf="idpagina==1">
    <div ngbAccordionItem [collapsed]="false">
        <div ngbAccordionHeader class="divacordeon">
            <button ngbAccordionButton>Gestión

            </button>
        </div>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody style="padding: 0px;">
                <!-- <ng-template>

                    <p-table [value]="lstGestion()" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }">

                        <ng-template #header>
                            <tr>
                                <th scope="col"># consecutivo</th>
                                <th scope="col">No. de Expediente</th>
                                <th scope="col">Persona promovente</th>
                                <th scope="col">CURP</th>
                                <th scope="col">NSS</th>
                                <th scope="col">Fecha del suceso</th>
                                <th scope="col">Descripción del suceso</th>
                                <th scope="col" style="min-width: 100px" alignFrozen="right" pFrozenColumn>
                                    Ver detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-gestion let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ gestion.idConsecutivo }}</td>
                                <td>{{ gestion.idExpediente }}</td>
                                <td>{{ gestion.personaPromovente }}</td>
                                <td>{{ gestion.strCurp }}</td>
                                <td>{{ gestion.strNSS }}</td>
                                <td>{{ gestion.fchSuceso }}</td>
                                <td>{{ gestion.strDescripcionSuceso }}</td>


                                <td alignFrozen="center" pFrozenColumn
                                    class="flex align-items-center justify-content-center">
                                    <i class="cursor-pointer icon pi pi-eye" (click)="btnVerDetalle(gestion, rowIndex)"
                                        [style]="{ 'font-size': '2.2rem',  background: '#f6faff' }"></i>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="8">
                                    <div class="flex justify-content-center align-items-center">
                                        <img class="p-0" src="/assets/images/Lupa.svg" alt="Sin resultados">
                                    </div>
                                    <div style="text-align: center;">Sin resultados de búsqueda</div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #footer>
                            <td colspan="3" class="lg:hidden">
                                <div class="flex justify-content-center align-items-center">
                                    <img src="/assets/images/touch_icon.png" height="40" width="40"
                                        alt="Imagen centrada para móvil" class="imagen-tabla" />
                                </div>
                            </td>
                        </ng-template>
                    </p-table>
                    <p-paginator styleClass="justify-content-end" [showFirstLastIcon]="false" [first]="first"
                        [rows]="rows" [totalRecords]="totalElementos" (onPageChange)="onPageChange($event)">


                        <ng-template pTemplate="previouspagelinkicon">
                            <div class="flex align-items-center">
                                <span class="pi pi-chevron-left text-xl font-normal mr-2"></span>
                                <span class="font-semibold mr-5">Anterior</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="nextpagelinkicon">
                            <div class="flex align-items-center">
                                <span class="font-semibold ml-5">Siguiente</span>
                                <span class="pi pi-chevron-right text-xl font-normal ml-2"></span>
                            </div>
                        </ng-template>

                    </p-paginator>
                    <span class="font-semibold mr-4 resultados">Resultados
                        {{totalElementos}}</span>

               </ng-template> -->
            
            <app-tabla-antecedentes 
                    [tabla]="1"
                    [data]="data"
                    [rows]="10"
                    [total]="2"
                    (pageChange)="cargarPagina($event)"
                    (checkboxChanged)="cambiarEstado($event)">
                </app-tabla-antecedentes>
            
            </div>
        </div>
    </div>
</div>
    

<div ngbAccordion *ngIf="idpagina==2">
    <div ngbAccordionItem [collapsed]="false">
        <div ngbAccordionHeader class="divacordeon">
            <button ngbAccordionButton>Gestión

            </button>
        </div>
        <div ngbAccordionCollapse>
            <div ngbAccordionBody style="padding: 0px;">
                <!-- <ng-template>

                    <p-table [value]="lstGestion()" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }">

                        <ng-template #header>
                            <tr>
                                <th scope="col"># consecutivo</th>
                                <th scope="col">No. de Expediente</th>
                                <th scope="col">Persona promovente</th>
                                <th scope="col">CURP</th>
                                <th scope="col">NSS</th>
                                <th scope="col">Fecha del suceso</th>
                                <th scope="col">Descripción del suceso</th>
                                <th scope="col" style="min-width: 100px" alignFrozen="right" pFrozenColumn>
                                    Ver detalle
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-gestion let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ gestion.idConsecutivo }}</td>
                                <td>{{ gestion.idExpediente }}</td>
                                <td>{{ gestion.personaPromovente }}</td>
                                <td>{{ gestion.strCurp }}</td>
                                <td>{{ gestion.strNSS }}</td>
                                <td>{{ gestion.fchSuceso }}</td>
                                <td>{{ gestion.strDescripcionSuceso }}</td>


                                <td alignFrozen="center" pFrozenColumn
                                    class="flex align-items-center justify-content-center">
                                    <i class="cursor-pointer icon pi pi-eye" (click)="btnVerDetalle(gestion, rowIndex)"
                                        [style]="{ 'font-size': '2.2rem',  background: '#f6faff' }"></i>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #emptymessage>
                            <tr>
                                <td colspan="8">
                                    <div class="flex justify-content-center align-items-center">
                                        <img class="p-0" src="/assets/images/Lupa.svg" alt="Sin resultados">
                                    </div>
                                    <div style="text-align: center;">Sin resultados de búsqueda</div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template #footer>
                            <td colspan="3" class="lg:hidden">
                                <div class="flex justify-content-center align-items-center">
                                    <img src="/assets/images/touch_icon.png" height="40" width="40"
                                        alt="Imagen centrada para móvil" class="imagen-tabla" />
                                </div>
                            </td>
                        </ng-template>
                    </p-table>
                    <p-paginator styleClass="justify-content-end" [showFirstLastIcon]="false" [first]="first"
                        [rows]="rows" [totalRecords]="totalElementos" (onPageChange)="onPageChange($event)">


                        <ng-template pTemplate="previouspagelinkicon">
                            <div class="flex align-items-center">
                                <span class="pi pi-chevron-left text-xl font-normal mr-2"></span>
                                <span class="font-semibold mr-5">Anterior</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="nextpagelinkicon">
                            <div class="flex align-items-center">
                                <span class="font-semibold ml-5">Siguiente</span>
                                <span class="pi pi-chevron-right text-xl font-normal ml-2"></span>
                            </div>
                        </ng-template>

                    </p-paginator>
                    <span class="font-semibold mr-4 resultados">Resultados
                        {{totalElementos}}</span>

               </ng-template> -->
            
            <app-tabla-antecedentes 
                    [tabla]="7"
                    [data]="data7"
                    [rows]="10"
                    [total]="2"
                    (pageChange)="cargarPagina($event)"
                    (checkboxChanged)="cambiarEstado($event)">
                </app-tabla-antecedentes>
            
            </div>
        </div>
    </div>
</div>



    <div ngbAccordion>
        <div ngbAccordionItem [collapsed]="false">
            <div ngbAccordionHeader>
                <button ngbAccordionButton>Queja médica

                </button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody  style="padding: 0px;">
                    <app-tabla-antecedentes 
                    [tabla]="2"
                    [data]="data2"
                    [rows]="10"
                    [total]="0"
                    (pageChange)="cargarPagina($event)"
                    (checkboxChanged)="cambiarEstado($event)">
                </app-tabla-antecedentes>
                   <!--  <ng-template>

                        <p-table [value]="lstQueja()" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }">

                            <ng-template #header>
                                <tr>

                                    <th scope="col"># consecutivo</th>
                                    <th scope="col">No. de Expediente</th>
                                    <th scope="col">Persona promovente</th>
                                    <th scope="col">CURP</th>
                                    <th scope="col">NSS</th>
                                    <th scope="col">Fecha del suceso</th>
                                    <th scope="col">Descripción del suceso</th>
                                    <th scope="col" style="min-width: 100px" alignFrozen="right" pFrozenColumn>
                                        Ver detalle
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-queja let-rowIndex="rowIndex">
                                <tr>
                                    <td>{{ queja.idConsecutivo }}</td>
                                    <td>{{ queja.idExpediente }}</td>
                                    <td>{{ queja.personaPromovente }}</td>
                                    <td>{{ queja.strCurp }}</td>
                                    <td>{{ queja.strNSS }}</td>
                                    <td>{{ queja.fchSuceso }}</td>
                                    <td>{{ queja.strDescripcionSuceso }}</td>


                                    <td alignFrozen="center" pFrozenColumn
                                        class="flex align-items-center justify-content-center">
                                        <i class="cursor-pointer icon pi pi-eye"
                                            (click)="btnVerDetalle(queja, rowIndex)"
                                            [style]="{ 'font-size': '2.2rem',  background: '#f6faff' }"></i>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #emptymessage>
                                <tr>
                                    <td colspan="8">
                                        <div class="flex justify-content-center align-items-center">
                                            <img class="p-0" src="/assets/images/Lupa.svg" alt="Sin resultados">
                                        </div>
                                        <div style="text-align: center;">Sin resultados de búsqueda</div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #footer>
                                <td colspan="3" class="lg:hidden">
                                    <div class="flex justify-content-center align-items-center">
                                        <img src="/assets/images/touch_icon.png" height="40" width="40"
                                            alt="Imagen centrada para móvil" class="imagen-tabla" />
                                    </div>
                                </td>
                            </ng-template>
                        </p-table>
                        <p-paginator styleClass="justify-content-end" [showFirstLastIcon]="false" [first]="first"
                            [rows]="rows" [totalRecords]="totalElementos" (onPageChange)="onPageChange($event)">


                            <ng-template pTemplate="previouspagelinkicon">
                                <div class="flex align-items-center">
                                    <span class="pi pi-chevron-left text-xl font-normal mr-2"></span>
                                    <span class="font-semibold mr-5">Anterior</span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="nextpagelinkicon">
                                <div class="flex align-items-center">
                                    <span class="font-semibold ml-5">Siguiente</span>
                                    <span class="pi pi-chevron-right text-xl font-normal ml-2"></span>
                                </div>
                            </ng-template>

                        </p-paginator>
                        <span class="font-semibold mr-4 resultados">Resultados {{lstQueja().length}}</span>









                    </ng-template> -->
                </div>
            </div>
        </div>
    </div>


    <div ngbAccordion>
        <div ngbAccordionItem [collapsed]="false">
            <div ngbAccordionHeader>
                <button ngbAccordionButton>Inconformidades

                </button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                     <app-tabla-antecedentes 
                    [tabla]="3"
                    [data]="data"
                    [rows]="10"
                    [total]="2"
                    (pageChange)="cargarPagina($event)"
                    (checkboxChanged)="cambiarEstado($event)">
                </app-tabla-antecedentes>
                    <!-- <ng-template>

                        <p-table [value]="lstInconformidad()" [scrollable]="true"
                            [tableStyle]="{ 'min-width': '50rem' }">

                            <ng-template #header>
                                <tr>

                                    <th scope="col"># consecutivo</th>
                                    <th scope="col">No. de Expediente</th>
                                    <th scope="col">Persona promovente</th>
                                    <th scope="col">CURP</th>
                                    <th scope="col">NSS</th>
                                    <th scope="col">Fecha del suceso</th>
                                    <th scope="col">Descripción del suceso</th>
                                    <th scope="col" style="min-width: 100px" alignFrozen="right" pFrozenColumn>
                                        Ver detalle
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-inconformidad let-rowIndex="rowIndex">
                                <tr>
                                    <td>{{ inconformidad.idConsecutivo }}</td>
                                    <td>{{ inconformidad.idExpediente }}</td>
                                    <td>{{ inconformidad.personaPromovente }}</td>
                                    <td>{{ inconformidad.strCurp }}</td>
                                    <td>{{ inconformidad.strNSS }}</td>
                                    <td>{{ inconformidad.fchSuceso }}</td>
                                    <td>{{ inconformidad.strDescripcionSuceso }}</td>


                                    <td alignFrozen="center" pFrozenColumn
                                        class="flex align-items-center justify-content-center">
                                        <i class="cursor-pointer icon pi pi-eye"
                                            (click)="btnVerDetalle(inconformidad, rowIndex)"
                                            [style]="{ 'font-size': '2.2rem',  background: '#f6faff' }"></i>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #emptymessage>
                                <tr>
                                    <td colspan="8">
                                        <div class="flex justify-content-center align-items-center">
                                            <img class="p-0" src="/assets/images/Lupa.svg" alt="Sin resultados">
                                        </div>
                                        <div style="text-align: center;">Sin resultados de búsqueda</div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #footer>
                                <td colspan="3" class="lg:hidden">
                                    <div class="flex justify-content-center align-items-center">
                                        <img src="/assets/images/touch_icon.png" height="40" width="40"
                                            alt="Imagen centrada para móvil" class="imagen-tabla" />
                                    </div>
                                </td>
                            </ng-template>
                        </p-table>
                        <p-paginator styleClass="justify-content-end" [showFirstLastIcon]="false" [first]="first"
                            [rows]="rows" [totalRecords]="totalElementos" (onPageChange)="onPageChange($event)">


                            <ng-template pTemplate="previouspagelinkicon">
                                <div class="flex align-items-center">
                                    <span class="pi pi-chevron-left text-xl font-normal mr-2"></span>
                                    <span class="font-semibold mr-5">Anterior</span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="nextpagelinkicon">
                                <div class="flex align-items-center">
                                    <span class="font-semibold ml-5">Siguiente</span>
                                    <span class="pi pi-chevron-right text-xl font-normal ml-2"></span>
                                </div>
                            </ng-template>

                        </p-paginator>
                        <span class="font-semibold mr-4 resultados">Resultados
                            {{lstInconformidad().length}}</span>


                    </ng-template> -->
                </div>
            </div>
        </div>

    </div>

    <div ngbAccordion>
        <div ngbAccordionItem [collapsed]="false">
            <div ngbAccordionHeader>
                <button ngbAccordionButton>Amparo indirecto

                </button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <app-tabla-antecedentes 
                    [tabla]="4"
                    [data]="data4"
                    [rows]="10"
                    [total]="2"
                    (pageChange)="cargarPagina($event)"
                    (checkboxChanged)="cambiarEstado($event)">
                </app-tabla-antecedentes>
                    <!-- <ng-template>

                        <p-table [value]="lstAmparo()" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }">

                            <ng-template #header>
                                <tr>
                                    <th scope="col"># consecutivo</th>
                                    <th scope="col">Expediente</th>
                                    <th scope="col">Persona promovente</th>
                                    <th scope="col">Nombre del / los peticionario(s)</th>
                                    <th scope="col">NSS</th>
                                    <th scope="col">Fecha del suceso</th>
                                    <th scope="col">Descripción del suceso</th>
                                    <th scope="col" style="min-width: 100px" alignFrozen="right" pFrozenColumn>
                                        Ver detalle
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-amparo let-rowIndex="rowIndex">
                                <tr>

                                    <td>{{ amparo.idConsecutivo }}</td>
                                    <td>{{ amparo.idExpediente }}</td>
                                    <td>{{ amparo.personaPromovente }}</td>
                                    <td>{{ amparo.strCurp }}</td>
                                    <td>{{ amparo.strNSS }}</td>
                                    <td>{{ amparo.fchSuceso }}</td>
                                    <td>{{ amparo.strDescripcionSuceso }}</td>


                                    <td alignFrozen="center" pFrozenColumn
                                        class="flex align-items-center justify-content-center">
                                        <i class="cursor-pointer icon pi pi-eye"
                                            (click)="btnVerDetalle(amparo, rowIndex)"
                                            [style]="{ 'font-size': '2.2rem',  background: '#f6faff' }"></i>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #emptymessage>
                                <tr>
                                    <td colspan="8">
                                        <div class="flex justify-content-center align-items-center">
                                            <img class="p-0" src="/assets/images/Lupa.svg" alt="Sin resultados">
                                        </div>
                                        <div style="text-align: center;">Sin resultados de búsqueda</div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #footer>
                                <td colspan="3" class="lg:hidden">
                                    <div class="flex justify-content-center align-items-center">
                                        <img src="/assets/images/touch_icon.png" height="40" width="40"
                                            alt="Imagen centrada para móvil" class="imagen-tabla" />
                                    </div>
                                </td>
                            </ng-template>
                        </p-table>
                        <p-paginator styleClass="justify-content-end" [showFirstLastIcon]="false" [first]="first"
                            [rows]="rows" [totalRecords]="totalElementos" (onPageChange)="onPageChange($event)">


                            <ng-template pTemplate="previouspagelinkicon">
                                <div class="flex align-items-center">
                                    <span class="pi pi-chevron-left text-xl font-normal mr-2"></span>
                                    <span class="font-semibold mr-5">Anterior</span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="nextpagelinkicon">
                                <div class="flex align-items-center">
                                    <span class="font-semibold ml-5">Siguiente</span>
                                    <span class="pi pi-chevron-right text-xl font-normal ml-2"></span>
                                </div>
                            </ng-template>

                        </p-paginator>
                        <span class="font-semibold mr-4 resultados">Resultados {{lstAmparo().length}}</span>






                    </ng-template> -->
                </div>
            </div>
        </div>
    </div>

     <div ngbAccordion>
        <div ngbAccordionItem [collapsed]="false">
            <div ngbAccordionHeader>
                <button ngbAccordionButton>Procedimiento RPE

                </button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <app-tabla-antecedentes 
                    [tabla]="5"
                    [data]="data5"
                    [rows]="10"
                    [total]="5"
                    (pageChange)="cargarPagina($event)"
                    (checkboxChanged)="cambiarEstado($event)">
                </app-tabla-antecedentes>
                    <!-- <ng-template>

                        <p-table [value]="lstAmparo()" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }">

                            <ng-template #header>
                                <tr>
                                    <th scope="col"># consecutivo</th>
                                    <th scope="col">Expediente</th>
                                    <th scope="col">Persona promovente</th>
                                    <th scope="col">Nombre del / los peticionario(s)</th>
                                    <th scope="col">NSS</th>
                                    <th scope="col">Fecha del suceso</th>
                                    <th scope="col">Descripción del suceso</th>
                                    <th scope="col" style="min-width: 100px" alignFrozen="right" pFrozenColumn>
                                        Ver detalle
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-amparo let-rowIndex="rowIndex">
                                <tr>

                                    <td>{{ amparo.idConsecutivo }}</td>
                                    <td>{{ amparo.idExpediente }}</td>
                                    <td>{{ amparo.personaPromovente }}</td>
                                    <td>{{ amparo.strCurp }}</td>
                                    <td>{{ amparo.strNSS }}</td>
                                    <td>{{ amparo.fchSuceso }}</td>
                                    <td>{{ amparo.strDescripcionSuceso }}</td>


                                    <td alignFrozen="center" pFrozenColumn
                                        class="flex align-items-center justify-content-center">
                                        <i class="cursor-pointer icon pi pi-eye"
                                            (click)="btnVerDetalle(amparo, rowIndex)"
                                            [style]="{ 'font-size': '2.2rem',  background: '#f6faff' }"></i>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #emptymessage>
                                <tr>
                                    <td colspan="8">
                                        <div class="flex justify-content-center align-items-center">
                                            <img class="p-0" src="/assets/images/Lupa.svg" alt="Sin resultados">
                                        </div>
                                        <div style="text-align: center;">Sin resultados de búsqueda</div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #footer>
                                <td colspan="3" class="lg:hidden">
                                    <div class="flex justify-content-center align-items-center">
                                        <img src="/assets/images/touch_icon.png" height="40" width="40"
                                            alt="Imagen centrada para móvil" class="imagen-tabla" />
                                    </div>
                                </td>
                            </ng-template>
                        </p-table>
                        <p-paginator styleClass="justify-content-end" [showFirstLastIcon]="false" [first]="first"
                            [rows]="rows" [totalRecords]="totalElementos" (onPageChange)="onPageChange($event)">


                            <ng-template pTemplate="previouspagelinkicon">
                                <div class="flex align-items-center">
                                    <span class="pi pi-chevron-left text-xl font-normal mr-2"></span>
                                    <span class="font-semibold mr-5">Anterior</span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="nextpagelinkicon">
                                <div class="flex align-items-center">
                                    <span class="font-semibold ml-5">Siguiente</span>
                                    <span class="pi pi-chevron-right text-xl font-normal ml-2"></span>
                                </div>
                            </ng-template>

                        </p-paginator>
                        <span class="font-semibold mr-4 resultados">Resultados {{lstAmparo().length}}</span>






                    </ng-template> -->
                </div>
            </div>
        </div>
    </div>



    <div ngbAccordion>
        <div ngbAccordionItem [collapsed]="false">
            <div ngbAccordionHeader>
                <button ngbAccordionButton>Juicio Constancioso Administrativo Federal

                </button>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>

                    <app-tabla-antecedentes 
                    [tabla]="5"
                    [data]="data6"
                    [rows]="10"
                    [total]="0"
                    (pageChange)="cargarPagina($event)"
                    (checkboxChanged)="cambiarEstado($event)">
                </app-tabla-antecedentes>
                   <!--  <ng-template>


                        <p-table [value]="lstJuicio()" [scrollable]="true" [tableStyle]="{ 'min-width': '50rem' }">

                            <ng-template #header>
                                <tr>

                                    <th scope="col"># consecutivo</th>
                                    <th scope="col">Expediente</th>
                                    <th scope="col">Persona promovente</th>
                                    <th scope="col">NSS</th>
                                    <th scope="col">Fecha del suceso</th>
                                    <th scope="col">Descripción del suceso</th>
                                    <th scope="col">OOAD</th>
                                    <th scope="col" style="min-width: 100px" alignFrozen="right" pFrozenColumn>
                                        Ver detalle
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-juicio let-rowIndex="rowIndex">
                                <tr>

                                    <td>{{ juicio.idConsecutivo }}</td>
                                    <td>{{ juicio.idExpediente }}</td>
                                    <td>{{ juicio.personaPromovente }}</td>
                                    <td>{{ juicio.strCurp }}</td>
                                    <td>{{ juicio.strNSS }}</td>
                                    <td>{{ juicio.fchSuceso }}</td>
                                    <td>{{ juicio.strDescripcionSuceso }}</td>


                                    <td alignFrozen="center" pFrozenColumn
                                        class="flex align-items-center justify-content-center">
                                        <i class="cursor-pointer icon pi pi-eye"
                                            (click)="btnVerDetalle(juicio, rowIndex)"
                                            [style]="{ 'font-size': '2.2rem',  background: '#f6faff' }"></i>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #emptymessage>
                                <tr>
                                    <td colspan="8">
                                        <div class="flex justify-content-center align-items-center">
                                            <img class="p-0" src="/assets/images/Lupa.svg" alt="Sin resultados">
                                        </div>
                                        <div style="text-align: center;">Sin resultados de búsqueda</div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template #footer>
                                <td colspan="3" class="lg:hidden">
                                    <div class="flex justify-content-center align-items-center">
                                        <img src="/assets/images/touch_icon.png" height="40" width="40"
                                            alt="Imagen centrada para móvil" class="imagen-tabla" />
                                    </div>
                                </td>
                            </ng-template>
                        </p-table>
                        <p-paginator styleClass="justify-content-end" [showFirstLastIcon]="false" [first]="first"
                            [rows]="rows" [totalRecords]="totalElementos" (onPageChange)="onPageChange($event)">


                            <ng-template pTemplate="previouspagelinkicon">
                                <div class="flex align-items-center">
                                    <span class="pi pi-chevron-left text-xl font-normal mr-2"></span>
                                    <span class="font-semibold mr-5">Anterior</span>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="nextpagelinkicon">
                                <div class="flex align-items-center">
                                    <span class="font-semibold ml-5">Siguiente</span>
                                    <span class="pi pi-chevron-right text-xl font-normal ml-2"></span>
                                </div>
                            </ng-template>

                        </p-paginator>
                        <span class="font-semibold mr-4 resultados">Resultados {{lstJuicio().length}}</span>





                    </ng-template> -->
                </div>
            </div>
        </div>


        <p-card class="mx-2 empty-border aviso" [header]="'Aviso de confidencialidad'">
            <article>
                La información aqui mostrada es confidencial y de propiedad del IMSS. Su uso está
                restringido exclusivamente a las actividades de consulta autorizadas. Queda estrictamente
                prohibida su divulgación, copia, distribución o uso para fines no establecidos. Todo acceso
                queda registrado y auditado. El incumplimiento de esta politica acarreará sanciones en
                términos de la legislación aplicable, ya sean del orden civil, penal o de culaquier otro
                tipo que se puedan derivar de los mismos hechos.
                <br />
                <br />
                Información consultada en SSCV1 con corte al 30/10/2025; SSCV2 con corte al 30/10/2025 y
                SIADE con corte al 30/10/2025.
            </article>
        </p-card>

    </div>