.pill {
  display: flex;
  height: 18px;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  span {
    font-family: "Noto Sans", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 13.2px */
    border-radius: 8px;
    border-bottom: 0.5px solid #EDEFF2;
    white-space: nowrap;
  }
}
.noCumple{
  color: var(--Alertas-03_alerta-oscuro1, #D3121F);
  background: var(--Alertas-03_alerta-tono02, #FCEBEC);
}
.cumple{
  color: var(--Alertas-02_positiva-oscuro2, #239023);
  background-color: #e8f9e6;
}
.pendiente{
  color: #D48C00;
  background: #ffeac3;
}
.revision{
  background: #dbeeff;
  color: var(--complementarios-02-AzulClaro_oscuro02, #005FB2);
}
