.divTotales{
    width: 200px;
height: 100px;
gap: 4px;

opacity: 1;
padding: 8px;
border-radius: 8px;

}
.divgestion{
border-bottom: 1px solid #FF8848
}
.divqueja{
border-bottom: 1px solid #5EC5F4
}
.divinconformidades{
border-bottom: 1px solid #0AA16E
}
.divamparo{
border-bottom: 1px solid #2F5EFF
}
.divprocedimiento{
border-bottom: 1px solid #B28100
}
.divjuicio{
border-bottom: 1px solid #DC0A70;
text-align: left;
}
