.divTotales {
  width: 200px;
  gap: 4px;

  opacity: 1;
  padding: 8px;
  border-radius: 8px;
}

.divgestion {
  border-bottom: 1px solid #FF8848;
  padding-top: 26px;
}

.divqueja {
  border-bottom: 1px solid #5EC5F4;
  padding-top: 26px;
}

.divinconformidades {
  border-bottom: 1px solid #0AA16E;
  padding-top: 26px;
}

.divamparo {
  border-bottom: 1px solid #2F5EFF;
  padding-top: 26px;
}

.divprocedimiento {
  border-bottom: 1px solid #B28100;
  padding-top: 26px;
}

.divjuicio {
  border-bottom: 1px solid #DC0A70;
  text-align: left;
}
