<p-card class="mx-2 empty-border" [header]="'Consulta'">
  <form [formGroup]="filtroForm">
    <article class="flex flex-row flex-wrap">
      <div class="lg:col-3 col-12">
        <div class="flex justify-content-between">
          <label class="field-label" for="especialidad">Consultar por</label>
          <span class="field-label-obligatorio">Obligatorio</span>
        </div>
        <p-select formControlName="tipoconsulta" [options]="tipoconsulta" optionLabel="label"
                  placeholder="Selecciona una opción" class="w-full" (onChange)="onTipoConsultaChange($event)"/>
      </div>
      <div class="lg:col-3 col-12">
        <div class="flex justify-content-between">
          <label class="field-label" for="nss">NSS</label>
          <span class="field-label-obligatorio">Obligatorio</span>
        </div>
        <input pInputText class="w-full" type="text" id="nss"
               placeholder="Ingresa NSS"
               formControlName="nss"
        />
      </div>
      <div class="lg:col-3 col-12">
        <div class="flex justify-content-between">
          <label class="field-label" for="nombre">Nombre</label>
          <span class="field-label-obligatorio">Obligatorio</span>
        </div>
        <input pInputText class="w-full" type="text" id="nombre"
               placeholder="Ingresa el nombre"
               formControlName="nombre"
        />
      </div>
      <div class="lg:col-3 col-12">
        <div class="flex justify-content-between">
          <label class="field-label" for="apaterno">Primer apellido</label>
          <span class="field-label-obligatorio">Obligatorio</span>
        </div>
        <input pInputText class="w-full" type="text" id="apaterno"
               placeholder="Ingresa el primer apellido"
               formControlName="apaterno"
        />
      </div>

      
   
    </article>
    <article class="flex flex-row flex-wrap">
        <div class="lg:col-3 col-12">
        <div class="flex justify-content-between">
          <label class="field-label" for="apaterno">Segundo apellido</label>
        </div>
        <input pInputText class="w-full" type="text" id="amaterno"
               placeholder="Ingresa el segundo apellido"
               formControlName="amaterno"
        />
      </div>
      <div class="flex lg:col-9  col-12 justify-content-end align-items-center mt-3 gap-4">
        <p-button type="button" [disabled]="filtroForm.invalid" (onClick)="limpiar()" variant="outlined" label="Limpiar"/>
        <p-button type="button" [disabled]="filtroForm.invalid" (onClick)="paginar()" label="Buscar"/>
      </div>
    </article>

  </form>
</p-card>
<app-tabla-principal
  [titulo]="tituloTabla"
  [data]="data"
  [rows]="10"
  [total]="4"
  (pageChange)="cargarPagina($event)"
  (checkboxChanged)="cambiarEstado($event)"
></app-tabla-principal>
<p-card class="mx-2 empty-border" [header]="'Total de antecedentes'" >
 <!--  <div class="flex justify-content-between align-items-center">
    <span class="total-registros">Total de registros: {{ totalRegistros }}</span>
  </div> -->
  <article class="flex flex-row flex-wrap">
    <div class="lg:col-2 col-12">
      <div class="divTotales" style="background-color: #FFF8F5;">
        <div class="divgestion">
<span class="titulo_totales">Gestión</span>
        </div>
       <div class="flex flex-column justify-content-center align-items-center">
          <div class="flex flex-column justify-content-center align-items-center" style="margin-top: 10px; width: 60%;">
  <span class="subtitulo_totales" style="margin-bottom: 5px;">Total de antecedentes</span>
  <span class="totales">139</span>
</div>
       </div>
       

       
      </div>
    </div>
    <div class="lg:col-2 col-12">
      <div class="divTotales" style="background-color: #F1FAFE;">
        <div class="divqueja">
<span class="titulo_totales">Queja médica</span>
        </div>
       <div class="flex flex-column justify-content-center align-items-center">
          <div class="flex flex-column justify-content-center align-items-center" style="margin-top: 10px; width: 60%;">
  <span class="subtitulo_totales" style="margin-bottom: 5px;">Total de antecedentes</span>
  <span class="totales">40</span>
</div>
       </div>
       

       
      </div>
    </div>
    <div class="lg:col-2 col-12">
      <div class="divTotales" style="background-color: #F6F9F6;;">
        <div class="divinconformidades">
<span class="titulo_totales">Inconformidades</span>
        </div>
       <div class="flex flex-column justify-content-center align-items-center">
          <div class="flex flex-column justify-content-center align-items-center" style="margin-top: 10px; width: 60%;">
  <span class="subtitulo_totales" style="margin-bottom: 5px;">Total de antecedentes</span>
  <span class="totales">51</span>
</div>
       </div>
       

       
      </div>
    </div>
    <div class="lg:col-2 col-12">
      <div class="divTotales" style="background-color:  #F5F6FF;">
        <div class="divamparo">
<span class="titulo_totales">Amparo Indirecto</span>
        </div>
       <div class="flex flex-column justify-content-center align-items-center">
          <div class="flex flex-column justify-content-center align-items-center" style="margin-top: 10px; width: 60%;">
  <span class="subtitulo_totales" style="margin-bottom: 5px;">Total de antecedentes</span>
  <span class="totales">19</span>
</div>
       </div>
       

       
      </div>
    </div>
    <div class="lg:col-2 col-12">
      <div class="divTotales" style="background: #FEFDFB;">
        <div class="divprocedimiento">
<span class="titulo_totales">Procedimiento RPE</span>
        </div>
       <div class="flex flex-column justify-content-center align-items-center">
          <div class="flex flex-column justify-content-center align-items-center" style="margin-top: 10px; width: 60%;">
  <span class="subtitulo_totales" style="margin-bottom: 5px;">Total de antecedentes</span>
  <span class="totales">24</span>
</div>
       </div>
       

       
      </div>
    </div>
    <div class="lg:col-2 col-12">
      <div class="divTotales" style="background: #FEF5FA; height: 120px;">
        <div class="divjuicio">
<span class="titulo_totales">Juicio Contencioso Administrativo Federal</span>
        </div>
       <div class="flex flex-column justify-content-center align-items-center">
          <div class="flex flex-column justify-content-center align-items-center" style="margin-top: 10px; width: 60%;">
  <span class="subtitulo_totales" style="margin-bottom: 5px;">Total de antecedentes</span>
  <span class="totales">139</span>
</div>
       </div>
       

       
      </div>
    </div>
  </article>

</p-card>
<p-card class="mx-2 empty-border" [header]="'Aviso de confidencialidad'">
<p class="aviso">La información aquí mostrada es confidencial y de propiedad del IMSS. Su uso está rerstringido exclusivamente a las actividades de consulta autorizadas. Queda estrictamente prohibido su divulgación, copía, distribución o uso para fines no establecidos.
  Todo acceso queda registrado y auditado. El incumplimiento de esta política acarreará sanciones en términos de la legislación aplicable, ya sean del orden civil, penal o de cualquier otro tipo que se puedan derivar de los mismos hechos.
</p>
<br>
<p class="aviso">Información consultada en SSCV1, con corte al 30/10/2025; SSCV2, con corte al 30/10/2025 y SIADE, con corte al 30/10/2025.</p>
</p-card>
