.footer-medico {
  bottom: -10px;
}

.text-blue{
  color: #7BC4E4;
}
@media (max-width: 767px) {
  .footer-medico{
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
}