@layer app-components {

  .vertical-tabview {
    display: flex;
    flex-direction: row;

    .p-tabview-nav {
      flex-direction: column;
      border-right: 1px solid #dee2e6;
      width: 150px;

      .p-tabview-nav-link {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: -1px;
      }
    }


    .p-tabview-panels {
      flex-grow: 1;
    }

    .p-tabs {
      flex-direction: row !important;
    }

    .p-tab-active {
      border-bottom: none;
      border-left: 10px;
    }
  }

  :host ::ng-deep .p-tablist-tab-list {
    flex-direction: column !important;
  }

  :host ::ng-deep .p-tab {
    border: none;
  }

  :host ::ng-deep .p-tablist-active-bar {
    border: none;
    background: transparent;
  }

  .grid-datos-empleo {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 1rem;
  }

  @media screen and (min-width: 768px) {
    .grid-datos-empleo {
      grid-template-columns: repeat(2, 10%) repeat(3, 25%);
    }
  }

  @media screen and (max-width: 1000px) and (min-width: 740px) {
    .grid-datos-empleo {
      grid-template-columns: repeat(2, 50%);
    }
  }

  .table-wrapper {
    display: flex;
    flex-direction: column; /* Apila los elementos hijos verticalmente */
  }

  @media screen and (min-width: 768px) {
    .vertical-tv {
      display: flex;
      flex-direction: row;
    }
  }


}


