<div class="flex justify-content-start align-items-center gap-3">
  <h3 class="titulo-seccion">Registro
    de {{ this.tipoMedico() | titlecase }}</h3>
</div>
<p-card class="mx-2 my-4 no-padding-empty-border">
  <header-medico-interno></header-medico-interno>
</p-card>

<p-card class="mt-2 empty-border">
  <steps [currentStepIndex]="indice()" [steps]="steps" (stepClick)="cambioDeSeccion($event)"/>
</p-card>

@switch (indice()) {

  @case (0) {
    <form [formGroup]="formRegistro">
      <p-card class="mx-2 empty-border" [header]="'Datos Personales'">
        <section class="flex flex-wrap">
          <article class="lg:col-3 col-12 flex flex-row mb-4 lg:mb-0 justify-content-center">
            <p class="field-label">Fotografía</p>
            <upload-photo [disableUpload]="estatusPendienteDocumentacion" (fileSelected)="onFileSelected($event)"
                          [clearOnFailedSave]="needsCleanup"
                          [existingFile]="defaultFile" (cleanupDone)="onCleanupDone()" class="mt-6"/>
            <p class="label-obligatorio">Obligatorio</p>
          </article>
          <article class="lg:col-9 col-12 flex flex-row flex-wrap">
            <div class="lg:col-4 col-12">
              <div class="flex justify-content-between">
                <label class="field-label" for="rfc">RFC</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <input pInputText class="w-full" type="text" id="rfc"
                     placeholder="Ingresa RFC"
                     oninput="this.value = this.value.toUpperCase()"
                     formControlName="rfc" maxlength="13"/>
            </div>
            <div class="lg:col-4 col-12">
              <div class="flex justify-content-between">
                <label class="field-label" for="nss">NSS</label>
                <p class="label-obligatorio">Obligatorio</p>
                <!-- @if (this.userData?.idPerfil == 2) {
                  <p class="label-obligatorio">Obligatorio</p>
                } -->
              </div>
              <input pInputText class="w-full" type="text" id="nss" placeholder="Ingresa NSS"
                     formControlName="nss" appOnlyNumbers maxlength="11"/>

            </div>
            <div class="lg:col-4 col-12">
              <div class="flex justify-content-between">
                <label class="field-label" for="fechaNacimiento">Fecha de nacimiento</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <p-datepicker formControlName="fechaNacimiento" [style]="{ 'width': '100%' }"
                            [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"/>
            </div>
            <div class="lg:col-4 col-12">
              <div class="flex justify-content-between">
                <label class="field-label" for="sexo">Sexo</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <p-select [options]="sexos" formControlName="sexo" optionLabel="label"
                        placeholder="Ingresa sexo" class="w-full"/>
            </div>
            <div class="lg:col-4 col-12">
              <div class="flex justify-content-between">
                <label class="field-label" for="estadoCivil">Estado civil</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <p-select [options]="estadosCiviles" formControlName="estadoCivil" optionLabel="label" optionValue="value"
                        placeholder="Ingresa estado civil" class="w-full"/>
            </div>
            <div class="lg:col-4 col-12">
              <div class="flex justify-content-between">
                <label class="field-label" for="rfc">Dependientes</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <!--               <div class="flex justify-content-between flex-wrap gap-2">
                              @for (dependiente of dependientes; track dependiente.key) {
                                <div class="flex align-items-center gap-1">
                                  <p-radiobutton class="radio-button-square" [inputId]="dependiente.key" [value]="dependiente"
                                                 formControlName="dependientes">
                                  </p-radiobutton>
                                  <label [for]="dependiente.key" class="field-label mt-4">{{ dependiente.name }}</label>
                                </div>
                              }
                            </div> -->
              <div class="flex justify-content-between flex-wrap gap-2">


                <div class="flex align-items-center gap-1">

                  <p-checkbox
                    class="checkbox-square"
                    [inputId]="dependientes[0].key"
                    formControlName="indPadres"
                    [binary]="true"
                  >
                  </p-checkbox>

                  <label [for]="dependientes[0].key" class="field-label mt-4">{{ dependientes[0].name }}</label>
                </div>
                <div class="flex align-items-center gap-1">

                  <p-checkbox
                    class="checkbox-square"
                    [inputId]="dependientes[1].key"
                    formControlName="indHijos"
                    [binary]="true"
                  >
                  </p-checkbox>

                  <label [for]="dependientes[1].key" class="field-label mt-4">{{ dependientes[1].name }}</label>
                </div>
                <div class="flex align-items-center gap-1">

                  <p-checkbox
                    class="checkbox-square"
                    [inputId]="dependientes[2].key"
                    formControlName="indConyuge"
                    [binary]="true"
                  >
                  </p-checkbox>

                  <label [for]="dependientes[2].key" class="field-label mt-4">{{ dependientes[2].name }}</label>
                </div>
                <div class="flex align-items-center gap-1">

                  <p-checkbox
                    class="checkbox-square"
                    [inputId]="dependientes[3].key"
                    formControlName="indOtros"
                    [binary]="true"
                  >
                  </p-checkbox>

                  <label [for]="dependientes[3].key" class="field-label mt-4">{{ dependientes[3].name }}</label>
                </div>
                <div class="flex align-items-center gap-1">

                  <p-checkbox
                    class="checkbox-square"
                    [inputId]="dependientes[4].key"
                    formControlName="indNinguno"
                    [binary]="true"
                  >
                  </p-checkbox>

                  <label [for]="dependientes[4].key" class="field-label mt-4">{{ dependientes[4].name }}</label>
                </div>

              </div>
            </div>
            <div class="lg:col-4 col-12">
              <div class="flex justify-content-between">
                <label class="field-label" for="hijos">¿Cuántos hijos?</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <input pInputText class="w-full" type="text" id="hijos" placeholder="Número de hijos"
                     formControlName="hijos" appOnlyNumbers/>
            </div>
            <div class="lg:col-4 col-12">
              <div class="flex justify-content-between">
                <label class="field-label" for="otros">Otros</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <input pInputText class="w-full" type="text" id="otros" placeholder="Especifica"
                     formControlName="otros"/>
            </div>
          </article>
        </section>
      </p-card>

      <p-card class="mx-2 empty-border" [header]="'Datos de Contacto'">
        <article class="flex flex-row flex-wrap">
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="correo">Correo electrónico</label>
            </div>
            <input pInputText class="w-full" type="text" id="correo" placeholder="Ingresa correo electrónico"
                   formControlName="correo"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="correoAdicional">Correo electrónico adicional</label>
            </div>
            <input pInputText class="w-full" type="text" id="correoAdicional"
                   placeholder="Ingresa correo electrónico adicional"
                   formControlName="correoAdicional"
                   emailAllowCaracters maxlength="100"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="telefonoCasa">Teléfono de casa</label>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <input pInputText class="w-full" type="text" id="telefonoCasa" placeholder="Ingresa teléfono de casa"
                   formControlName="telefonoCasa" appOnlyNumbers maxlength="10"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="telefonoCelular">Teléfono celular</label>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <input pInputText class="w-full" type="text" id="telefonoCelular" placeholder="Ingresa teléfono celular"
                   formControlName="telefonoCelular" appOnlyNumbers maxlength="10"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="paisNacimiento">País de nacimiento</label>
            </div>
            <p-select [options]="paises" formControlName="paisNacimiento" optionLabel="label"
                      filterBy="label" [filter]="true" placeholder="Ingresa País de nacimiento"
                      class="w-full"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="estadoNacimiento">Estado de origen (nacimiento)</label>
            </div>
            <p-select [options]="lugaresNacimiento" formControlName="estadoNacimiento" optionLabel="label"
                      optionValue="value"
                      filterBy="label" [filter]="true" placeholder="Ingresa estado de origen" class="w-full"/>
          </div>
        </article>
      </p-card>

      <p-card class="mx-2 empty-border" [header]="'Datos del Domicilio'">
        <article class="flex flex-row flex-wrap">
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="codigoPostal">Código postal</label>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <input pInputText class="w-full" type="text" id="codigoPostal" placeholder="Ingresa código postal"
                   formControlName="codigoPostal" (blur)="validarCP()"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="pais">País</label>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <p-select [options]="paises" formControlName="pais" optionLabel="label" optionValue="value"
                      filterBy="label" [filter]="true" placeholder="Ingresa país" class="w-full"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="estado">Estado</label>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <p-select [options]="estados" formControlName="estado" optionLabel="label" optionValue="value"
                      filterBy="label" [filter]="true" placeholder="Ingresa estado" class="w-full"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="municipio">Alcaldía o municipio</label>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <p-select [options]="municipios" formControlName="municipio" optionLabel="label" optionValue="value"
                      filterBy="label" [filter]="true" placeholder="Ingresa municipio" class="w-full"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="colonia">Colonia</label>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <p-select [options]="colonias" formControlName="colonia" optionLabel="label" optionValue="value"
                      filterBy="label" [filter]="true" placeholder="Ingresa colonia" class="w-full"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="calle">Calle</label>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <input pInputText class="w-full" type="text" id="calle" placeholder="Ingresa calle"
                   formControlName="calle" alphanumericOnly maxLength="200"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between">
              <label class="field-label" for="numeroExterior">Número exterior</label>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <input pInputText class="w-full" type="text" id="numeroExterior" placeholder="Ingresa número exterior"
                   formControlName="numeroExterior" alphanumericOnly maxlength="5"/>
          </div>
        </article>
      </p-card>

      <p-card class="mx-2 empty-border" [header]="'Zona de Interés Laboral'">
        <div class="flex align-items-center gap-4 px-2 py-4">
          <i class="pi pi-exclamation-circle" style="color: #dfd210; font-size: 2rem; transform: rotate(180deg);"></i>
          <em class="info-em-texto">Queremos conocer tu interés, elige tres opciones
            para estar en posibilidad de brindarte una mejor oferta laboral</em>
        </div>
        <form [formGroup]="formZonaInteres" class="mb-4">
          <article class="flex flex-row flex-wrap">
            <div class="lg:col-3 col-12">
              <div class="flex justify-content-between">
                <label class="field-label" for="ooad">OOAD</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <p-select [options]="ooad" formControlName="ooad" optionLabel="label"
                        placeholder="Seleccionar opción" class="w-full" optionValue="value"/>
            </div>
            <div class="lg:col-3 col-12">
              <div class="flex justify-content-between">
                <label class="field-label" for="zonaInteres">Zona de interés</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <p-select [options]="zonas" formControlName="zonaInteres" optionLabel="label"
                        placeholder="Seleccionar opción" class="w-full" optionValue="value"/>
            </div>
            <div class="lg:col-3 col-12 flex justify-content-start align-items-end">
              @if (!estatusPendienteDocumentacion) {
                <p-button label="Agregar" icon="cme-plus" iconPos="right" [text]="true"
                          [disabled]="formZonaInteres.invalid"
                          (click)="agregarZonaInteres()"/>
              }

            </div>
          </article>
        </form>

        <p-table [value]="zonasInteres()" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template #header>
            <tr>
              <th scope="col">OOAD</th>
              <th scope="col">Zona de interés</th>
              <th scope="col">Acciones</th>
            </tr>
          </ng-template>
          <ng-template #body let-zona let-rowIndex="rowIndex">
            <tr>
              <td>{{ zona.desOoad }}</td>
              <td>{{ zona.desZona }}</td>
              <td>
                @if (!estatusPendienteDocumentacion) {
                  <p-button icon="cme-trash" [text]="true" severity="danger" [style]="{'font-size': '2.5rem'}"
                            (click)="(eliminarZonaInteres(rowIndex))"/>
                }
              </td>
            </tr>
          </ng-template>
          <ng-template #emptymessage>
            <tr>
              <td colspan="3">
                <div class="flex justify-content-center align-items-center">
                  <img class="p-0"
                       src="/assets/images/tabla_sin_resultados.svg" alt="Sin resultados">
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #footer>
            <td colspan="3" class="lg:hidden">
              <div class="flex justify-content-center align-items-center">
                <img src="/assets/images/touch_icon.png" height="40"
                     width="40"
                     alt="Imagen centrada para móvil"
                     class="imagen-tabla"
                />
              </div>
            </td>
          </ng-template>
        </p-table>
      </p-card>

      <div class="flex flex-row justify-content-end gap-3">
        @if (!estatusPendienteDocumentacion) {
          <p-button type="button" variant="outlined" (click)="limpiarPrimeraSeccion()" label="Limpiar formulario"
                    [disabled]="estatusPendienteDocumentacion"/>
          <p-button type="button" [disabled]="formRegistro.invalid || estatusPendienteDocumentacion || validarIndicadores()" label="Guardar"
                    (click)="siguientePasoStepper()"/>
          <!--<p-button type="button"  label="Guardar" (click)="saveDatosGenerales()"/>-->
            <!-- <p-button type="button" [disabled]="true" label="Finalizar registro"/> -->
        }
      </div>

    </form>
  }
  @case (1) {
    <p-card class="mx-2 empty-border" [header]="'Documentos obligatorios'">
      <article class="flex flex-row flex-wrap">
        <div class="lg:col-3 col-12">
          <div class="flex justify-content-between mb-1">
            <p class="field-label">Identificación oficial (INE o Pasaporte)</p>
            <p class="label-obligatorio">Obligatorio</p>
          </div>
          <upload-document (fileSelected)="procesarArchivoObligatorio($event, 1)" [existingFile]="archivoINE"
                           (fileRemoved)="eliminarArchivoObligatorio(1)"
                           (fileDownload)="obtenerGuidDocumento($event, 'obligatorio', 1)"
                           [disabled]="estatusPendienteDocumentacion" idArchivo="INE"/>
        </div>
        <div class="lg:col-3 col-12">
          <div class="flex justify-content-between mb-1">
            <p class="field-label">Titulo de Medicina General</p>
            <p class="label-obligatorio">Obligatorio</p>
          </div>
          <upload-document (fileSelected)="procesarArchivoObligatorio($event, 2)" [existingFile]="archivoTitulo"
                           (fileRemoved)="eliminarArchivoObligatorio(2)"
                           (fileDownload)="obtenerGuidDocumento($event, 'obligatorio', 2)"
                           [disabled]="estatusPendienteDocumentacion" idArchivo="titulo"/>
        </div>
        <div class="lg:col-3 col-12">
          <div class="flex justify-content-between mb-1">
            <p class="field-label">Cédula profesional de Medicina General
            </p>
            <p class="label-obligatorio">Obligatorio</p>
          </div>
          <upload-document (fileSelected)="procesarArchivoObligatorio($event, 3)" [existingFile]="archivoCedula"
                           (fileRemoved)="eliminarArchivoObligatorio(3)"
                           (fileDownload)="obtenerGuidDocumento($event, 'obligatorio', 3)"
                           [disabled]="estatusPendienteDocumentacion" idArchivo="cedula"/>
        </div>
      </article>
    </p-card>

    <p-card class="mx-2 empty-border" [header]="'Documentos de especialidad y/o subespecialidad'">
      <div class="flex align-items-center gap-4 px-2 py-4">
        <i class="pi pi-exclamation-circle" style="color: #BC955C; font-size: 2rem"></i>
        <em class="info-em-texto">
          Indica hasta 3 especialidades o subespecialidades y carga el documento de cada una de éstas.
        </em>
      </div>
      <form [formGroup]="formDocumentosEspecialidad">
        <article class="flex flex-row flex-wrap">
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between mb-1">
              <p class="field-label">Especialidad</p>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <p-select [options]="especialidades" optionLabel="label" optionValue="value" [filter]="true"
                      [filterBy]="'label'"
                      placeholder="Selecciona opción" formControlName="especialidad" class="w-full"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between mb-1">
              <p class="field-label">Tipo de documento</p>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <p-select [options]="lstTiposDocumentos" optionLabel="label" optionValue="value"
                      placeholder="Selecciona una opción" formControlName="documento" class="w-full"/>
          </div>
          <div class="lg:col-3 col-12">
            <div class="flex justify-content-between mb-1">
              <p class="field-label">Carga de documento</p>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <upload-document idArchivo="especialidad" (fileSelected)="procesarArchivoEspecializacion($event)"
                             [disabled]="estatusPendienteDocumentacion"/>
          </div>
          <div class="lg:col-3 col-12 flex justify-content-start align-items-center">
            @if (!estatusPendienteDocumentacion) {
              <p-button label="Agregar" icon="cme-plus" iconPos="right"
                        [disabled]="formDocumentosEspecialidad.invalid || !documentoEspecialidad || estatusPendienteDocumentacion"
                        [text]="true" (click)="subirDocumentoyObtenerGuid()"/>
            }
          </div>
        </article>
      </form>

      @if (registrosDocumentosEspecialidad().length === 0) {
        <article class="mx-3">
          <empty-tab></empty-tab>
        </article>
      } @else {
        <article class="lg:flex lg:flex-row lg:flex-wrap">
          <p-tabView class="vertical-tv flex-grow-1" [activeIndex]="0">
            @for (registro of registrosDocumentosEspecialidad(); track registro.especialidad) {
              <p-tabPanel style="{ width: 100%}">
                <ng-template pTemplate="header">
                  <header-tab [title]="registro.especialidad" [numDocs]="registro.documentos.length"
                              class="header-tab"/>
                </ng-template>
                <div class="lg:flex lg:flex-grow-1">
                  <p-table [value]="registro.documentos" class="flex-grow-1">
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="label-th" scope="col">Tipo documento</th>
                        <th class="label-th" scope="col">Especialidad médica</th>
                        <th class="label-th" scope="col">Acciones</th>
                      </tr>
                    </ng-template>
                    <ng-template #body let-registro>
                      <tr>
                        <td class="label-documento-td cursor-pointer"
                            (click)="mostrarDocumento(registro.guid)">{{ registro.tipoDocumento }}
                        </td>
                        <td class="label-td">{{ registro.especialidadMedica }}</td>
                        <td>
                          @if (!estatusPendienteDocumentacion) {
                            <p-button icon="cme-trash" [text]="true" severity="danger" [style]="{'font-size': '2.0rem'}"
                                      (click)="eliminarDocumento(registro.especialidadMedica, registro.tipoDocumento)"/>
                          }
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template #emptymessage>
                      <tr>
                        <td colspan="3">
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </p-tabPanel>
            }
          </p-tabView>
        </article>
      }
    </p-card>

    @if (userData?.idPerfil === 3) {
      <p-card class="mx-2 empty-border" [header]="'Constancias de cursos de educación permanente en salud'">
        <div class="flex align-items-center gap-4 px-2 py-4">
          <i class="pi pi-exclamation-circle" style="color: #BC955C; font-size: 2rem"></i>
          <em class="info-em-texto">Adjunta hasta 3 documentos de tus cursos de capacitación o actualización
            post-especialidad (ej. Alta Especialidad, Adiestramientos), considerando el tamaño máximo 50mb.</em>
        </div>
        <article class="flex flex-row flex-wrap">
          <div class="lg:col-4 col-12">
            <p class="titulo-documento">Documento 1</p>
            <div class="flex justify-content-between mb-1">
              <p class="field-label">Constancias de cursos</p>
            </div>
            <upload-document idArchivo="constancia_1" (fileSelected)="procesarConstancia($event, 1)"
                             [maxFileSize]="52428800" (fileRemoved)="eliminarConstancia(1)"
                             (fileDownload)="obtenerGuidDocumento($event, 'constancia', 1)"
                             [existingFile]="archivoConstancia1" [disabled]="estatusPendienteDocumentacion"/>
            <!-- <p class="leyenda-documento my-2">El sistema solo permite adjuntar hasta 3 archivos</p> -->
            <div class="flex justify-content-between mb-1">
              <p class="field-label">Nombre de la constancia</p>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <input pInputText class="w-full" type="text" id="constancia1" [required]="!refConstancia1"
                   [disabled]="estatusPendienteDocumentacion || refConstancia1"
                   (input)="actualizarNombreDocumento(1, $event)"
                   placeholder="Especifique el nombre del documento" [(ngModel)]="nombreConstancia1"
            />
          </div>
          <div class="lg:col-4 col-12">
            <p class="titulo-documento">Documento 2</p>
            <div class="flex justify-content-between mb-1">
              <p class="field-label">Constancias de cursos</p>
            </div>
            <upload-document idArchivo="constancia_2" (fileSelected)="procesarConstancia($event, 2)"
                             [maxFileSize]="52428800" (fileRemoved)="eliminarConstancia(2)"
                             (fileDownload)="obtenerGuidDocumento($event, 'constancia', 2)"
                             [existingFile]="archivoConstancia2"
                             [disabled]="estatusPendienteDocumentacion"/>
            <!-- <p class="leyenda-documento my-2">El sistema solo permite adjuntar hasta 3 archivos</p> -->
            <div class="flex justify-content-between mb-1">
              <p class="field-label">Nombre de la constancia</p>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <input pInputText class="w-full" type="text" id="constancia2" [(ngModel)]="nombreConstancia2"
                   [disabled]="estatusPendienteDocumentacion || refConstancia2" [required]="!refConstancia2"
                   placeholder="Especifique el nombre del documento" (input)="actualizarNombreDocumento(2, $event)"
            />
          </div>
          <div class="lg:col-4 col-12">
            <p class="titulo-documento">Documento 3</p>
            <div class="flex justify-content-between mb-1">
              <p class="field-label">Constancias de cursos</p>
            </div>
            <upload-document idArchivo="constancia_3" (fileSelected)="procesarConstancia($event, 3)"
                             [maxFileSize]="52428800" (fileRemoved)="eliminarConstancia(3)"
                             (fileDownload)="obtenerGuidDocumento($event, 'constancia', 3)"
                             [existingFile]="archivoConstancia3" [disabled]="estatusPendienteDocumentacion"/>
            <!-- <p class="leyenda-documento my-2">El sistema solo permite adjuntar hasta 3 archivos</p> -->
            <div class="flex justify-content-between mb-1">
              <p class="field-label">Nombre de la constancia</p>
              <p class="label-obligatorio">Obligatorio</p>
            </div>
            <input pInputText class="w-full" type="text" id="constancia3" [(ngModel)]="nombreConstancia3"
                   placeholder="Especifique el nombre del documento" (input)="actualizarNombreDocumento(3, $event)"
                   [disabled]="estatusPendienteDocumentacion || refConstancia3" [required]="!refConstancia3"
            />
          </div>
        </article>
      </p-card>
    }

    @if (userData?.idPerfil === 3) {
      <p-card class="mx-2 empty-border" [header]="'Datos de empleo'">
        <form [formGroup]="formDatosEmpleo">
          <article class="grid-datos-empleo">
            <div>
              <p class="field-label">¿Tienes otro empleo?</p>
              <div class="flex flex-wrap gap-2">
                @for (opcion of opciones_boolean; track opcion.key) {
                  <div class="flex align-items-center gap-1">
                    <p-radiobutton class="radio-button-square" [inputId]="opcion.key" [value]="opcion.key"
                                   formControlName="otroEmpleo">
                    </p-radiobutton>
                    <label [for]="opcion.key" class="field-label mt-4">{{ opcion.name }}</label>
                  </div>
                }
              </div>
            </div>
            <div>
              <p class="field-label">¿Eres sustituto 08 IMSS?</p>
              <div class="flex flex-wrap gap-2">
                @for (opcion of opciones_boolean; track opcion.key) {
                  <div class="flex align-items-center gap-1">
                    <p-radiobutton class="radio-button-square" [inputId]="opcion.key" [value]="opcion.key"
                                   formControlName="sustituto">
                    </p-radiobutton>
                    <label [for]="opcion.key" class="field-label mt-4">{{ opcion.name }}</label>
                  </div>
                }
              </div>
            </div>
            @if (formDatosEmpleo.get('sustituto')?.value === '1') {
              <div class="px-4">
                <div class="flex justify-content-between">
                  <p class="field-label mb-1">OOAD:</p>
                </div>
                <div class="flex gap-2">
                  <p-select [options]="ooad" formControlName="ooad" optionLabel="label"
                            placeholder="Seleccionar opción" class="w-full" optionValue="value"/>
                </div>
              </div>
            }
            <div>
              <div class="flex justify-content-between px-2">
                <p class="field-label mb-1">Horario laboral</p>
              </div>
              <div class="flex gap-2 px-2">
                <p-datepicker [style]="{ 'width': '100%' }" placeholder="De" [iconDisplay]="'input'"
                              formControlName="horarioInicio"

                              [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" [timeOnly]="true"

                >
                  <ng-template #inputicon let-clickCallBack="clickCallBack">
                    <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                  </ng-template>
                </p-datepicker>
                <p-datepicker [style]="{ 'width': '100%' }" placeholder="Hasta" [iconDisplay]="'input'"
                              [timeOnly]="true" formControlName="horarioFin"
                              [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"

                >
                  <ng-template #inputicon let-clickCallBack="clickCallBack">
                    <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                  </ng-template>
                </p-datepicker>
              </div>
            </div>
            <div>
              <div class="flex justify-content-between px-2">
                <p class="field-label mb-1">Jornada laboral</p>
              </div>
              <div class="flex gap-2 px-2">
                <p-select [options]="dias_semana" optionLabel="label" optionValue="value"
                          placeholder="De" formControlName="diaInicio" class="w-full">
                  <ng-template #dropdownicon>
                    <i class="pi pi-calendar"></i>
                  </ng-template>
                </p-select>
                <p-select [options]="dias_semana" optionLabel="label" optionValue="value"
                          placeholder="Hasta" formControlName="diaFin" class="w-full">
                  <ng-template #dropdownicon>
                    <i class="pi pi-calendar"></i>
                  </ng-template>
                </p-select>
              </div>
            </div>
            <div>
              <p></p>
            </div>
          </article>
          <article class="flex flex-row flex-wrap">
            <div class="lg:col-6 col-12">
              <div class="flex justify-content-between">
                <label class="field-label" for="institucion">Institución</label>
                <div class="flex gap-2">
                  @for (institucion of instituciones; track institucion.key) {
                    <div class="flex justify-content-end gap-1 align-items-center">
                      <p-radiobutton [inputId]="institucion.key" formControlName="tipoInstitucion"
                                     [value]="institucion.key">
                      </p-radiobutton>
                      <label [for]="institucion.key" class="leyenda-documento mt-4">{{ institucion.name }}</label>
                    </div>
                  }
                </div>
              </div>
              <input pInputText class="w-full" type="text" id="institucion" formControlName="nombreInstitucion"
                     placeholder="Especifique institución" [maxlength]="200"/>
              <p class="leyenda-documento">Especifique el nombre de la institución, si eres sustituto especifica el
                OOAD de adscripción.</p>
            </div>
          </article>
        </form>
      </p-card>
    }

    <p-card class="mx-2 empty-border">
      <div class="flex align-items-center gap-4 px-2 py-4">
        <i class="pi pi-exclamation-circle" style="color: #BC955C; font-size: 2rem"></i>
        <em class="info-em-texto">Recuerda que al Finalizar tu registro, ya no podrás realizar modificaciones en los
          datos capturados.</em>
      </div>
    </p-card>

    <div class="flex flex-row justify-content-end gap-3">
      @if (!estatusPendienteDocumentacion) {
        <p-button type="button" variant="outlined" label="Limpiar formulario" [disabled]="estatusPendienteDocumentacion"
                  (click)="limpiarSegundaSeccion()"/>
        <p-button type="button" label="Guardar" (click)="guardarDocumentacion()"
                  [disabled]="banderaCargarDocumentacion" styleClass="h-full"/>
        <p-button type="button" label="Finalizar registro" (click)="guardarDocumentacion(true)"
                  [disabled]="banderaCargarDocumentacion"/>
      }
    </div>

  }
  @case (2) {
    <app-oferta-laboral></app-oferta-laboral>
  }
}
