@layer app-components {
  :root {
    --p-select-placeholder-color: #C3CAD5;
    --p-select-border-color: #f5f6f7;
    --p-select-padding-y: 10px;
  }

  .p-select-label {
    font-size: 1rem;
  }
  p-select.ng-invalid:not(.ng-untouched){
    border: 1px solid #e10000;
  }
}
