
.text-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.41px;
}

.p-button-image {
  line-height: normal;
}

.text-info-image {
  font-size: 10px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: center;
  color: #667085;
  margin: 0;
}

::ng-deep .p-fileupload-buttonbar {
  display: none !important;
}

::ng-deep .p-fileupload {
  position: relative;
}

.mitad-inferior {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #E9F2FF;
  border-radius: 0 0 7px 7px;
}

.leyendas-inferior {
  position: absolute;
  bottom: -40px
}

.half-border {
  position: relative;
  z-index: 2;
  background-color: #FFF;
}

p-fileupload-content {
  padding: 0;
}

.table-file {
  padding: 0;
}

::ng-deep .p-fileupload-content .p-progressbar {
  display: none;
}

::ng-deep .fileupload-not-empty .p-fileupload-content {
  gap: 0;
  padding: 0;
}

::ng-deep .fileupload-not-empty .p-fileupload-advanced {
  border-color: transparent;
}

.cursor-default {
  cursor: default;
}
