<div [class]="{'surface-bg-card': true, 'border-round-bottom-left': leftBorderRound }"
     [style.background]="backgroundColor">
  <div class="shadow-8 m-3 surface-card text-center p-3 border-round-sm
  flex align-items-center justify-content-center font-semibold icon-card"
       [style.box-shadow]="'0 9px 46px 8px ' + backgroundColor + ', 0 10px 18px 3px ' + backgroundColor + ', 0 11px 15px ' + backgroundColor">
    <i [class]="iconClass" [style.color]="cardColor" style="font-size: 1.2rem;"></i>
  </div>
</div>
