<div class="flex justify-content-start align-items-center gap-3 mt-5 lg:mt-0">
  <btn-regresar [ruta]="ruta"/>
  <h3 class="titulo-seccion">Documentación del aspirante</h3>
</div>
<p-card class="mx-2 empty-border" [header]="'Información del médico aspirante'">
  <div class="flex align-items-center p-4 flex-wrap imagen-seccion">
    <div class="flex align-items-center gap-4">
      <div class="flex align-items-center justify-content-center
              flex-column border-1 half-border border-circle border-imagen-sm">
        <img class="foto" role="presentation" [alt]="nombreFoto" [title]="nombreFoto" [src]="defaultFile"
             style="object-fit: cover; height: 100%; width: 100%"/>
      </div>
      @if (isMobileView) {
        <div class="flex justify-content-start mb-3 seccion-nombre">
          <div class="flex flex-column align-content-start">
            <span class="titulo-nombre-aspirante">{{ datosPersonales.nombre | titlecase }}</span>
            <span
              class="apellidos-aspirante">{{ datosPersonales.apellidoPaterno | titlecase }} {{ datosPersonales.apellidoMaterno }}</span>
            <hr>
          </div>
          @if (!evaluacion || evaluacion.estatusVerificacion.idEstatusVerificacion === 4) {
            <app-pill [texto]="'No cumple con requisitos'" [pillType]="0"/>
          } @else {
            <app-pill [texto]="evaluacion.estatusVerificacion.desEstatus"
                      [pillType]="evaluacion.estatusVerificacion.idEstatusVerificacion"/>
          }
        </div>
      }
    </div>

    <div class="flex-column lg:ml-5 lg:w-9">
      @if (!isMobileView) {
        <div class="flex justify-content-between align-items-center mb-3 seccion-nombre">
          <span
            class="titulo-nombre-aspirante">{{ datosPersonales.nombre | titlecase }} {{ datosPersonales.apellidoPaterno | titlecase }}
            {{ datosPersonales.apellidoMaterno | titlecase }}</span>
          @if (!evaluacion || evaluacion.estatusVerificacion.idEstatusVerificacion === 4) {
            <app-pill [texto]="'No cumple con requisitos'" [pillType]="0"/>
          } @else {
            <app-pill [texto]="evaluacion.estatusVerificacion.desEstatus"
                      [pillType]="evaluacion.estatusVerificacion.idEstatusVerificacion"/>
          }
        </div>
      }
      <div class="flex lg:justify-content-between lg:align-items-start mt-3 flex-wrap">
        <div class="detalle-aspirante lg:col-2 col-12">
          @if (datosPersonales.cveMatricula) {
            <span class="acciones-tabla">Matrícula</span>
            <p>{{ datosPersonales.cveMatricula }}</p>
          }
          @if (datosPersonales.refFolio) {
            <span class="acciones-tabla">Folio</span>
            <p>{{ datosPersonales.refFolio }}</p>
          }
        </div>
        <div class="detalle-aspirante lg:col-6 col-12">
          <span class="acciones-tabla">Especialidad</span>
          <p class="especialidad">{{ datosPersonales.especialidad | titlecase }}</p>
        </div>
        <div class="detalle-aspirante lg:col-4 col-12">
          <span class="acciones-tabla">Correo electónico</span>
          <p>{{ datosPersonales.refEmail }}</p>
        </div>

      </div>
    </div>
  </div>
</p-card>
