
.border-imagen-sm {
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}


.seccion-nombre {
  flex-direction: column;
  gap: 10px;
}

.titulo-nombre-aspirante {
  text-align: center;
}

.apellidos-aspirante {
  font-size: 14px;
}

.especialidad {
  text-align: start;
}


:host ::ng-deep .p-tablist-nav-button {
  display: none;
}

@media screen and (min-width: 768px) {
  .seccion-nombre {
    flex-direction: row !important;
    gap: 0;
  }

  .imagen-seccion {
    justify-content: start;
  }
}


.seccion-titulo {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}


@media screen and (min-width: 768px) {
  .seccion-titulo {
    flex-direction: row !important;
    gap: 0;
  }
}


hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #0dcaf0;
  border-width: 1px;
}


@media screen and (max-width: 768px) {

  .titulo-nombre-aspirante {
    text-align: start;
  }
}
