<div class="dialog-container">
<div class="row col-12 flex justify-content-between align-items-center">

    <span class="col-6 etiqueta1modal">
        Consulta realizada por Juan Jose Casas Olarte
    </span>

    <span class="col-3 etiqueta1modal text-center">
        OOAD / UMAE DF Sur
    </span>

    <span class="col-3 etiqueta1modal text-right">
        08/10/2025 - 09:12:27
    </span>

</div>


<!-- <div class="row col-12 flex" style="background-color: #E9EDFC; height: 40px; padding-top: 12px;">
    Resultado de la búsqueda por NSS : 123456789 y nombre: Ricardo
</div> -->
<div class="divsubtitulo row col-12 flex">
<span class="subtitulo">Resultado de la búsqueda por NSS : 123456789 y nombre: Ricardo Palma</span>
</div>


<div class="fila-modal">
    <div class="item-modal etiquetasmodal divetiqueta">Consecutivo</div>
    <div class="item-modal etiquetasmodal divetiqueta">Folio de la gestión</div>
</div>

<div class="fila-modal">
    <div class="item-modal divcontenido ">{{consecutivo}}</div>
    <div class="item-modal divcontenido ">{{folio}}</div>
</div>

<div class="fila-modal">
    <div class="item-modal etiquetasmodal divetiqueta">Persona promovente</div>
    <div class="item-modal etiquetasmodal divetiqueta">Nombre del / los peticionario(s)</div>
</div>
<div class="fila-modal">
    <div class="item-modal divcontenido ">{{persona}}</div>
    <div class="item-modal divcontenido ">{{peticionarios}}</div>
</div>
<div class="fila-modal">
    <div class="item-modal etiquetasmodal divetiqueta">NSS</div>
    <div class="item-modal etiquetasmodal divetiqueta">Fecha del suceso</div>
</div>
<div class="fila-modal">
    <div class="item-modal divcontenido ">{{nss}}</div>
    <div class="item-modal divcontenido ">{{fecha}}</div>
</div>
<div class="fila-modal">
    <div class="item-modal etiquetasmodal divetiqueta">OOAD involucrado</div>
    <div class="item-modal etiquetasmodal divetiqueta">Unidad involucrada</div>
</div>
<div class="fila-modal">
    <div class="item-modal divcontenido ">{{ooad}}</div>
    <div class="item-modal divcontenido ">{{unidad}}</div>
</div>
<div class="fila-modal">
    <div class="item-modal etiquetasmodal divetiqueta">Fecha del suceso</div>
    <div class="item-modal etiquetasmodal divetiqueta">Estado</div>
</div>
<div class="fila-modal">
    <div class="item-modal divcontenido ">{{fecha}}</div>
    <div class="item-modal divcontenido ">{{estado}}</div>
</div>
<div class="fila-modal">
    <div class="item-modal2 etiquetasmodal divetiqueta">Fecha del cierr del acuerdo/juicio/procedimiento/queja médica/gestión</div>
  
</div>
<div class="fila-modal">
    <div class="item-modal2 divcontenido ">{{cierre}}</div>
    
</div>





</div>
